<link rel="stylesheet" href="new.css" />

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url:
registration_path(resource_name)) do |f| %> <%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :email, required: true, autofocus: true, input_html: {
  autocomplete: "email", :value => 'user@domain.com' } %> <%= f.input :password,
  required: true, hint: ("#{@minimum_password_length} characters minimum"),
  input_html: { autocomplete: "new-password", :value => "**********" } %> <%=
  f.input :password_confirmation, required: true, input_html: { autocomplete:
  "new-password", :value => "**********" } %>
</div>

<div class="form-actions">
  <button><%= f.button :submit, "Sign up" %></button>
</div>
<div class="devise-shared-links">
  <% end %> <%= render "devise/shared/links" %>
</div>
