<div class="container">
  <div class="showplace row py-4">
    <div class="col-md-6 pt-5 text-center">
      <%= cl_image_tag @place.photo.key, :width=>500, :height=>300, :alt=>"hello", :crop=>:fit %>
    </div>
    <div class="text-left col-s-12 col-md-6">
      <div class="mt-5 bwidth">
        <h1>Booking Summary</h1>
        <h3>Thank you, your reservation is<h3>confirmed!</h3></h3>
        <p>We are looking forward to see you.</p>
        <p>Where are your reservation details:</p>
        <ul class="list-unstyled">
          <li>Your reservation at <strong><%= @place.name.capitalize %></strong></li>
          <li>Arrival <%= @order.checkin %></li>
          <li>Departure <%= @order.checkout %></li>
          <li>Total<strong><%= (@order.checkout - @order.checkin).to_i * @place.price%> €</strong></li>
        </ul>
        <%= link_to "⬅️ Back", :back %>
      </div>
  </div>
</div>
