<div class="container">

  <div class="text-center">
    <h1 class="mt-4 mb-3"> Find your pet a love nest </h1>
    <%= link_to '+ Add Place', new_place_path, class:'btn btn-danger mb-4' %>
  </div>

  <div class="row">
      <% @places.each do |place| %>
          <%= link_to place_path(place) do %>
          <div class="co-12 colsm-6 col-md-4 mb-3">
              <div class="card-trip">
                <%= image_tag "house_predifined" %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= place.name %></h2>
                    <p><%= place.address %></p>
                  </div>
                  <h2 class="card-trip-pricing">50€</h2>
                </div>
          </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
