<div class="container">
  <div class="showplace">
    <%# Title of the page %>
    <div class="name-cont col-md-12 col-12">
      <h2><%= @place.name.capitalize %></h2>
      <p><%= @place.address.capitalize %></p>
      <%= link_to "â¬…ï¸ Back", places_path %>
      <% if policy(@place).edit? %>
      <%= link_to "ðŸ“ Edit", edit_place_path(@place) %>
      <% end %>
      <% if policy(@place).destroy? %>
        <%= link_to "ðŸ—‘ Delete", place_path(@place), method: :delete %>
      <% end %>
    </div>

    <%# images of the page %>

    <div class="img-cont col-md-12 col-12">
      <%= cl_image_tag @place.photo.key %>
    </div>
    <div class="row mt-5">
      <div class="col-md-7 col-12 text-justify pr-5">
        <p>  semper sagittis. Vestibulum non sem pellentesque, egestas urna nec, ultricies sapien. Praesent nisl arcu, ultricies sed quam vitae, bibendum consectetur enim. Aenean porttitor risus nunc, sit amet lacinia eros ultrices quis. </p>
      </div>

      <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="text-center modal-title">Select Dates</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@place, @order] do |f| %>
                <%= f.input :checkin, as: :date, :label => 'Check-in' %>
                <%= f.input :checkout, as: :date, :label => 'Check-out' %>
                <%= f.input :guest,  as: :numeric, :label => 'Number of Guests' %>
                <div class="text-center">
                  <%= f.submit 'Book Place', class: 'btn btn-danger'%>
                </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 form-info">
        <div class="booking-form sticky-bottom">

          <%= simple_form_for [@place, @order] do |f| %>
            <%= f.input :checkin, :label => 'Check-in' %>
            <%= f.input :checkout, :label => 'Check-out' %>
            <%= f.input :guest,  as: :numeric, :label => 'Number of Guests' %>
            <div class="text-center">
              <%= f.submit 'Book Place', class: 'btn btn-danger'%>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="sticky-bar" data-toggle="modal" data-target="#form-modal">
  <button class="btn btn-danger click-me-js">Book Place</button>
</div>
