<h2><%= @place.name %></h2>
<p><%= @place.address %></p>

<%= link_to "â¬…ï¸ Back", places_path %>
<% if policy(@place).edit? %>
  <%= link_to "ðŸ“ Edit", edit_place_path(@place) %>
<% end %>
<% if policy(@place).destroy? %>
  <%= link_to "ðŸ—‘ Delete", place_path(@place), method: :delete %>
<% end %>

<h3>Select Dates</h3>
<%= simple_form_for [@place, @order] do |f| %>
  <%= f.input :checkin, :label => 'Check-in' %>
  <%= f.input :checkout, :label => 'Check-out' %>
  <%= f.input :guest,  as: :numeric, :label => 'Number of Guests' %>
  <%= f.submit 'Book Place' %>
<% end %>
